.transicion1{
    height: 100px;
    width: 100px;
    background-color: black;
    opacity: 100;
    transition: height 2s, width 2s, background-color 1s;
}

.transicion1:hover{
    height: 200px;
    width: 500px;
    background-color: yellow;
    transition-delay: 500ms;
}

.animacion1{
    height: 100px;
    width: 100px;
    background-color: tan;
    opacity:100;
    position: relative;
    animation-name: cuadro;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes cuadro{
    33% {background-color: red; left: 0px;top: 0px;}
    66% {background-color: blue; left: 100px; top: 100px; height: 200px; width: 200px;}
    99% {background-color: yellow;left: 0px; top: 0px;}
}
